@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  font-family: 'Parisienne', cursive;
  color: white;
  font-type: 1.5 rem;
}

body {
  background-color: #0066cc;
  margin: 0;
  padding: 20px;
}
