@import url('https://fonts.googleapis.com/css2?family=tangerine&display=swap');

* {
  font-family: 'tangerine', cursive;
  color: white;
 
}

body {
  background-color: #0066cc;
  margin: 0;
  padding: 2 rem;
  font-size: 2 rem;
}
